/* body får margin, padding font för text och en background */
body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: url('https://www.ppt-backgrounds.net/thumbs/10-polygon-white-part-4-~-textures-on-creative-market-art-templates-backgrounds.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* 0 margin och 0 padding*/
* {
    margin: 0;
    padding: 0;
}

/* en max width för container */
.container {
    max-width: 1280px;
    margin: 0 auto;
}

/* kod ner är hur man kan skapa en transition, en underline transition när man gör hover */
.banner {
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 300px;
    cursor: pointer;
    position: relative;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 30px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #CC00FF;
    text-transform: uppercase;
}

.navbar ul li::after,

.logo::after {
    content: '';
    height: 3px;
    width: 0;
    background: #87F675;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.45s;
}

.navbar ul li:hover:after,

.logo:hover:after {
    width: 100%;
}

/* text under alla knapper, har en viss height mellan raderna och har padding */
.cv-text {
    padding: 40px;
    line-height: 1.4;
    white-space: pre-line;
    box-sizing: content-box; 
}


/* delen under knapp för en background*/
.bottompart {
    background: url('https://www.ppt-backgrounds.net/thumbs/10-polygon-white-part-4-~-textures-on-creative-market-art-templates-backgrounds.jpg') no-repeat center center fixed;
    background-size: cover;
}
